<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Shopping Cart Demo</title>
	<link href="css/default-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script src="js/lib/jquery-1.6.2.min.js" type="text/javascript"></script>
	<script src="js/lib/jquery.tmpl.min.js" type="text/javascript"></script>
	<script src="js/lib/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>

	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<script src="js/shopping-basket.js" type="text/javascript"></script>

	<!--Product Category template-->
	<script type="text/template" id="prod-cat-tmpl">
			{{if attributes.category_id != ""}}
				<li class="ui-widget-content" id="cat_${attributes.category_id}" label="${attributes.value}">${ attributes.title }</li>
			{{/if}}
	</script>

	<!--Product Item template-->
	<script type="text/template" id="prod-item-tmpl">
		{{if attributes.product_id != ""}}
			<p><b>${attributes.album}</b> <br/><br/> ${attributes.artist} <br/>  &euro; ${attributes.price}</p>
		{{/if}}
	</script>

	<!--Order Item template-->
	<script type="text/template" id="order-item-tmpl">
		{{if attributes.product_id != ""}}
			<li><label class="orderedProdTxt">${attributes.album} &minus; ${attributes.artist}</label><label class="orderedProdPrice">&euro; ${attributes.price}</label></li>
		{{/if}}
	</script>

	<!--Total Price template-->
	<script type="text/template" id="total-price-tmpl">
		{{if attributes.total != ""}}
			<li><label id="totalPriceAmount">&euro; ${attributes.total}</label></li>
		{{/if}}
	</script>
</head>

<body>
<h2>Shopping Cart Demo</h2>
<div class="panel productPanel">
	<div id="productCategories">
		<ol id="categories"/>
	</div>
	<div id="productList"></div>
	<div id="productDesc"></div>
</div>
<div class="panel basketPanel">
	<div class="explanationTxtFrame">
		<span class="explanationTxt">Drag and drop your product here.</span>
	</div>
	<ul id="orderedProducts"></ul>
	<ul id="totalPrice"></ul>
</div>
<div class="panel actionPanel">
	<button class="button">Reset Basket</button>
	<button class="button">Submit</button>
</div>
<div class="footer">
	Shopping Cart Demo - Riza Nugraha 2012
</div>
</body>
</html>